.email-status{
    display: flex;

    div{
        display: flex;
        justify-content: center;
        flex-direction: column;
        margin-left: 1.5em;
    }
}


@media (max-width:650px){
    .email-status .emails{
        display: none;
    }
}