.home-page {
    .links {
        display: flex;
        text-align: center;
        justify-content: space-around;
    }
    .router-link {
        width: 20vw;
        text-decoration: none;
        color: #003571;
    }

    h1 {
        display: block;
        font-size: 2.5em;
        text-align: center;
    }

    img {
        width: 100%;
    }
}

@media (max-width: 650px) {
    .home-page {
        .router-link {
            width: 70vw;
            margin: auto;
        }
        .links {
            flex-direction: column;
        }
    }
}
