


.book-details{
    display: flex;
    align-items: flex-start;
    img{
        object-fit: scale-down;
    }
    
    .text-container{
        padding: 25px;
        padding-top: 0;
        line-height: 1.7em;
        img{
            width: 200px;
        }
    }
    h2{
        text-align: center;
        margin-top: 0;
    }
    h3{
        text-align: center;
        margin-bottom: 2em;
    }
    .expensive {
        color: red;
    }
    
    .cheap {
        color: green;
    }
}
