.txt-msg{
    padding: 15px;
    font-size: 2em;
    background-color: #999;
    position: fixed;
    top: 30px;
    right: 50%;
    text-align: center;
    
    &.secss{
        background-color: green;
    }
    &.unsecss{
        background-color: red;
    }
}